{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Registrar Nuevo Plan</h2>

<div class="card shadow p-4">
    <form method="POST">

        <div class="mb-3">
            <label class="form-label">Nombre del plan:</label>
            <input type="text" class="form-control" name="nombre" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Duración (días):</label>
            <input type="number" class="form-control" name="duracion_dias" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Precio:</label>
            <input type="number" class="form-control" name="precio" step="0.01" required>
        </div>

        <button class="btn btn-primary">Guardar</button>
        <a href="{{ url_for('planes_lista') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
