{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between mb-4">
    <h2 class="fw-bold">Lista de Clases</h2>
    <a href="{{ url_for('clases_agregar') }}" class="btn btn-success">+ Nueva Clase</a>
</div>

<div class="card shadow p-3">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Clase</th>
                <th>Descripción</th>
                <th>Cupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clases %}
            <tr>
                <td>{{ c.id_clase }}</td>
                <td>{{ c.nombre_clase }}</td>
                <td>{{ c.descripcion }}</td>
                <td>{{ c.cupo }}</td>
                <td>
                    <a href="{{ url_for('clases_editar', id=c.id_clase) }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('clases_eliminar', id=c.id_clase) }}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="mt-4 text-center">
            <a href="{{ url_for('socios_lista') }}" class="btn btn-outline-light btn-sm me-2">Socios</a>
            <a href="{{ url_for('planes_lista') }}" class="btn btn-outline-light btn-sm me-2">Planes</a>
            <a href="{{ url_for('pagos_lista') }}" class="btn btn-outline-light btn-sm me-2">Pagos</a>
            <a href="{{ url_for('clases_lista') }}" class="btn btn-outline-light btn-sm">Clases</a>
            <a href="{{ url_for('reservas_lista') }}" class="btn btn-outline-light btn-sm">Reservas</a>
</div>
{% endblock %}
